@page
@model WaitingForTheSummer.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Админка";
}

<h1>Админка</h1>
<div class="list-group mt-3">
    <a class="list-group-item list-group-item-action" asp-page="./Users/Index">Пользователи</a>
    <a class="list-group-item list-group-item-action" asp-page="./Quests/Index">Квесты</a>
    <a class="list-group-item list-group-item-action" asp-page="./Rounds/Index">Раунды</a>
</div>
