@page
@model WaitingForTheSummer.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Восстановление пароля отключено";
}

<h1>Восстановление пароля недоступно</h1>
<p>Обратитесь к администратору.</p>
<p><a asp-page="./Login">Войти</a></p>
