@page
@model WaitingForTheSummer.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Выход";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Вы вышли из системы.</p>
    <p><a asp-area="" asp-page="/Index">На главную</a></p>
</header>
