@page
@model WaitingForTheSummer.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Регистрация отключена";
}

<h1>Регистрация недоступна</h1>
<p>Аккаунты выдаёт администратор.</p>
<p><a asp-page="./Login">Войти</a></p>
